# XZF 最新模型的快速、有限搜索配置，用于交互式三阶段提示。
numSearchThreads = 4
maxVisits = 150

cpuctExploration = 0.9
cpuctExplorationLog = 0.6
cpuctExplorationBase = 500
useGraphSearch = true
useNoisePruning = true
nnPolicyTemperature = 1.1
subtreeValueBiasFactor = 0.0
analysisPVLen = 5

numNNServerThreadsPerModel = 1
nnCacheSizePowerOfTwo = 18
nnMutexPoolSizePowerOfTwo = 17
gpuToUseThread0 = 0
homeDataDir = KataGoData

taxRule = NONE
allowResignation = false
resignThreshold = -0.95
resignConsecTurns = 3
lagBuffer = 1.0
ponderingEnabled = false
reportAnalysisWinratesAs = SIDETOMOVE

logDir = gtp_logs
logAllGTPCommunication = false
logSearchInfo = false
logToStderr = false
